{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ashwin Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/style.css' %}">


</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/ash.jpg' %}">
                <hr>
                <h4>Hi I'm Ashwin OS</h4>
                <p>I am an experienced Python Full Stack Developer with expertise in Python, Django, and SQL.</p>
            </div>

        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <h4>Experience As A Developer</h4>
                <hr>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software. Today it's seen all around the web; on templates, websites, and stock designs. Use our generator to get your own, or read on for the authoritative history of lorem ipsum.</p>

                <ul class="social-links">
                    <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                    <li><img class="social" src="{% static 'images/instagram.png' %}"></li>
                    <li><img class="social" src="{% static 'images/git.png' %}"></li>
                    <li><img class="social" src="{% static 'images/linked.png' %}"></li>


                </ul>

            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>What I Know</h4>
                <hr>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

            </div>

        </div>
        <div class="col-md-6">
            <div class="card card-body">
                    <h4>My First Job</h4>
                <hr>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

            </div>
        </div>
    </div>
<br>
     <div class="row">
        <div class="col-md-6">
            <div class="card card-body"><h4>How I Learn</h4>
                <hr>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               </div>

        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h4>My Long Term Goal</h4>
                <hr>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

            </div>
        </div>
    </div>

</div>
<!--<h1> hello world</h1>-->

<!---->
</body>\

<br>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">


<footer>
<div class="footer">


<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Career</a></li>
</ul>
</div>

<div class="rank">
Portfolio Copyright © 2023 Ash - All rights reserved || Designed By: Ashwin
</div>
</div>
</footer>
</html>